<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  {{data.response}}
  {{data.error}}
  <ion-item>
    <ion-label floating>First Name</ion-label>
    <ion-input type="text" name="firstname" [(ngModel)]="data.firstname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Last Name</ion-label>
    <ion-input type="text" name="lastname" [(ngModel)]="data.lastname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Email Address</ion-label>
    <ion-input type="text" name="username" [(ngModel)]="data.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="data.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Confirm Password</ion-label>
    <ion-input type="password" name="confirmpasswd" [(ngModel)]="data.confirmpasswd"></ion-input>
  </ion-item>
  <br>
  <ion-list radio-group>
    <table>
      <tr>
        <td>
          <ion-item>
            <ion-label>USA</ion-label>
            <ion-radio name="selection" value="usa" (click)="selectUSA()"></ion-radio>
          </ion-item>
        </td>
        <td>
          <ion-item>
            <ion-label>International</ion-label>
            <ion-radio name="selection" value="international" (click)="selectInternational()"></ion-radio>
          </ion-item>
        </td>
      </tr>
    </table>
  </ion-list>
  <div id="usainfo" *ngIf="data.usaSelected">
    USA Input Fields Goes Here
    <ion-list>
      <ion-item>
        <ion-label>Region</ion-label>
        <ion-select name="region" interface=popover [(ngModel)]="data.region">
          <ion-option (ionSelect)="populateUSAStatesByRegion()" *ngFor="let curregion of data.usaregions" [value]="curregion.id">{{curregion.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>State</ion-label>
        <ion-select name="state" interface=popover [(ngModel)]="data.state">
          <ion-option (ionSelect)="populateUSAChaptersByState()" *ngFor="let curstate of data.usastates" [value]="curstate.id">{{curstate.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Chapter</ion-label>
        <ion-select name="chapter" interface=popover [(ngModel)]="data.chapter">
          <ion-option *ngFor="let curchap of data.usachapters" [value]="curchap.id">{{curchap.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div id="intlinfo" *ngIf="data.intlSelected">
    Internation Input Fields Goes Here
  </div>
  <button ion-button block (click)="submit()">Signup</button>
</ion-content>
